* {
 border: 1px solid black;
}

/*Cabecera de la Página*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
header ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}

header ul li {
    padding: 30px;
}

/* Cuerpo de la pagina */

.imagen {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}


/* Pie de Pagina*/

footer {
    display: flex;
    flex-direction: row;
}

footer div {

    flex-grow: 3;
}