body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG1k66JFXz9IemTB2HWT-r56Kup7hhJqws4O-vn_jhcr2PBsXi ) ;
}
.general{
    text-align: center;
    background-color: whitesmoke;
    width: 800px;
    height: 700px;
    margin: 0 auto;
    border:2px solid rebeccapurple;
}
h1{
    color: rgb(30, 233, 91);
}
.boton_adoptar {
    background-color: red;
    border-radius: 10px;
}
.boton_adoptar a{
    color:white;
    text-transform: uppercase;

}

.boton_adoptar:hover{
    background-color: blue;
}