body{
    background: rgb(57, 168, 57);
    background-size: auto;
}
.donacion{
    text-align: center;
    margin: 100px 300px;
    border: 2px solid green;
    background-color: beige;
    border-radius: 20px;
    
}
.boton{
    width: 80px;
    height: 40px;
    overflow-clip-box: blue;
    border-radius: 10px;
    
    
}
.boton:hover {

    background-color:yellow;

    
}
