@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');

body{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#fff 0%,white 50%, orange 50%, orange 100%);
    font-family: 'Poppins', sans-serif;

}

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0, .2);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    display: flex;
    transition: 0.5s;

}

.navigation input:checked~ .menu{
    width: 500px;
}

.menu li{
    list-style: none;
    margin:0 10px;
}

.menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color:#666;
    font-weight: 600;
    transition: 0.5s;
}
.menu li a:hover
{
    color: orangered;
}

.navigation input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;

}

.navigation span {
    position: absolute;
    left: 26px;
    width: 32px;
    height: 4px;
    background: #666;
    pointer-events: none;
    transition: 0.5s;

}

.navigation input:checked~ span{
    background: palevioletred;
}
.navigation span:nth-child(2){
    transform: translateY(-8px);
}
.navigation input:checked~ span:nth-child(2){
    transform: translateY(0) rotate(45deg);
}
.navigation span:nth-child(3){
    transform: translateY(8px);
}
.navigation input:checked~ span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}

#desc1{

    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top:3px;
    font-family:'Prata', serif;
    font-size: 50px;
}

#cita {
    display:flex;
    flex-direction: row;
    position: absolute;
    text-align: center;
    top:460px;
    width: 60%;
}

#cita img {
    width: 15%;
    height: 15%;
    border-radius: 280px;

}

.imgs{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:150px;
    text-align: center;
}

.imgs img {
    width: 10%;
    height: 10%;
}

#line {
    border:2px solid orange;
    width: 60%;
    position: absolute;
    top:100px;
    
}

#gandi {
    border:2px solid white;
    width: 80%;
    position: absolute;
    top:430px;
    border-radius: 10%;
}

.copy{
    position: absolute;
    top:640px;
    font-size: 10px;
}

.loco{
    position: absolute;
    top: 150px;
    right: 300px;
    color:red;
}