@import url('https://fonts.googleapis.com/css?family=Lustria&display=swap');
body {
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
}
.col1{
    background: rgb(168, 136, 136);
    height: 500px;
    width: 50%;
}

.col1 #title{
    position: relative;
    left: 80px;
    top: 205px;
    font-size: 40px;
    color:black;
    padding: 20px;
    background: white;
    
}

.col1 .descrip{
    position: relative;
    left: 80px;
    top: 245px;
    font-size: 20px;
    color:white;
    width: 50%;
    margin: 0;
    
}

.col2{
    height: 500px;
    width: 50%;
    background: url(https://cdn.pixabay.com/photo/2018/11/01/00/55/animal-3786987_1280.jpg);
    background-position: right;
    background-size: contain;

    
}

.col2 #name {
    color: white;
    font-size: 55px;
    font-family: 'Lustria', serif;
    position: relative;
    top: 275px;
    right: -25px;
    width: 10%;

    
}




.col2 #desc-name{
    width: 30%;
    color:white;
    font-family: 'Lustria', serif;
    position: relative;
    top: 245px;
    right: -25px;
    padding: 0;
    margin: 0;
    z-index: 2;
    
}





/*Comidaa*/

.main-comida{
    background: rgb(84, 84, 230);
    height: 600px;
    width: 100%;


}

.inside {
    width: 95%;
    height: 80%;
    background: white;
    margin: 0 auto;
    position: relative;
    top: 55px;
}
.inside #title-comida {

    width: 40%;
    font-size: 30px;
    color:white;
    padding: 40px;
    background: rgb(84, 84, 230);
    margin: 0 auto;
    text-align: center;
    border: 1px solid white;
    font-family: 'Lustria', serif;
    
    

}
.main-comida .comida-descp-perro {
    height: 200px;
    position: relative;
    float: left;
    top: 10px;
    left: 50px;
    width: 40%;
    font-size: 20px;
    color:black;
    background: white;

    
    
}

.main-comida .comida-descp-perro ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

.main-comida .comida-descp-perro ul li {
    margin: 10px;
}

#bot1, #bot2, #bot3{
    background: brown;
    color: black;
    border: none;
    padding: 10px;
    width: 20%;
    position: relative;
    float: left;
    left: 90px;
}

#bot1:hover, #bot2:hover, #bot3:hover {
    background:black;
    cursor: pointer;
    color: white;
    
}

.main-comida .comida-descp-gato {
    height: 200px;
    position: relative;
    float: right;
    right: -20px;
    top: 10px;
    width: 40%;
    font-size: 20px;
    color:black;
    background: white;
    
    
}

.main-comida .comida-descp-gato ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

.main-comida .comida-descp-gato ul li {
    margin: 10px;
}

.main-comida #img1, #img2 {
    width: 10%;
    height: 30%;
    position: relative;
    top: 100px;
}

#img1 {
    float: left;
    left: -80px;
}

#img2 {
    float: right;
    right: -470px;
}


.razas {
    background: white;
    height: 500px;
    display: flex;
    
}


.razap {
    height: 500px;
    width: 50%;
    background: linear-gradient(white 0%, white 0%,rgb(255, 123, 61) 50%, rgb(255, 123, 61) 100%);
   
}

.razag{
    height: 500px;
    width: 50%;
    background: linear-gradient(rgb(238, 87, 87) 0%, rgb(238, 87, 87) 0%,white 50%, white 100%);

}

.razas span {
    position: absolute;
    background:url(https://cdn.pixabay.com/photo/2014/10/01/16/36/siamese-468814_1280.jpg);
    padding: 20px;
    font-size: 30px;
    color: white;
    left: 0;right: 0;
    top: 1320px;
    text-align: center;
    font-family: 'Lustria', serif;
    
}
#line1{
    position: absolute;
    height: 368px;
    width: 4px;
    background: rgb(84, 84, 230);
    float: none;
    right: 0;
    left: 0;
    border: none;
    top: 660px;
    z-index: 3;
}

.razap div {
    display: flex;
}

.razap div a {
    background: white;
    color: Black;
    padding: 10px;
    margin: 80px 20px;
}
.razap div a:hover{
    background: orangered;
    color: white;
}
.razag div a {
    background: orangered;
    color: Black;
    float: right;
    right: 150px;
    padding: 10px;
    position: relative;
    top: 380px;
    margin: 20px;
    
}

.razag div a:hover{
    background: red;
    color: white;
}


.preguntas{
    background: url(https://cdn.pixabay.com/photo/2019/04/10/23/51/dog-4118585_1280.jpg);
    background-size: contain;
}
.preguntas-list {
    width: 80%;
    margin: 0 auto;
    background: burlywood;
    height: 500px;
}
.preguntas-list h3 {
    position: relative;
    background:white;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    top: 20px;
    padding: 20px;
    font-size: 25px;
}
.preguntas-list ul {
    list-style-type: none;
    position: relative;
    background:white;
    top:80px;
    font-family: 'Lustria', serif;
}

.preguntas-list ul li {
    background: burlywood;
    border: 2px solid white;
}

.perros, .gatos {
    text-align: center;
    background-color: white;
    color:black;
}